* {
  box-sizing: border-box;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;

    padding: 20px;
    font-weight: bold;
    border-bottom: 2px solid #291711;
}

.download {
    fill: #291711;
    width: 35px;
    height: 35px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.preview-wrapper {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    overflow: auto;
    height: 100%;
    width: 100%;
}

.preview-page {
    width: 100%;
    max-width: 600px; /* or whatever fits your preview */
    aspect-ratio: 210 / 297;

    padding: 20mm;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    transform: none;
}