* {
  box-sizing: border-box;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;

    padding: 20px;
    font-weight: bold;
    border-bottom: 2px solid #291711;
}

.download {
    fill: #291711;
    width: 35px;
    height: 35px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.preview-wrapper {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    overflow: auto;
    height: 100%;
    width: 100%;
    
}

.preview-page {
    width: 100%;
    max-width: 600px; 
    aspect-ratio: 210 / 297;

    padding: 10mm;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    transform: none;

}

.preview-page, 
.preview-page * {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 16px;
}

.cv-header {
    font-size: 30px;
    font-weight: bold;
}

.cv-personal-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section-header {
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 2px solid #291711;
}

.cv-education {
    text-align: start;
}

.cv-education-item {
    padding-left: 10px;
    padding-right: 10px;
}

.cv-education-item-container {
    display: flex;
    justify-content: space-between;
}

.cv-education-item-container-bottom {
    font-style: italic;
}