.date-container {
    display: flex;
    gap: 10px;
}

.education-form-container {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.education-button-container {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.education-button-container button {
    width: 50%;
    height: 30px;
}

.education-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  background: #f9f9f9;

  display: flex;
  justify-content: space-between;
}

.education-card-info {
    text-align: start;
}

.education-card-image{
    display: flex;
    gap: 5px;
}

.profile-pic {
    fill: white;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.education-card-info-summary {
    font-size: 16px;
}